.home-page {
  
  .hero-body {
  background-image: url('https://s4.reutersmedia.net/resources/r/?m=02&d=20190124&t=2&i=1349378060&r=LYNXNPEF0N1R8&w=1280');
  background-repeat: no-repeat;
  background-size: cover;
}

}



