.login-page{
 
  .hero-body {
  background-image: linear-gradient(to bottom right, rgb(20,21,24), black);
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
    width: 100vw;
    padding: 10vw;
  }

}